@model ICollection<Product>
<div class="container">
  <div class="row">
    @foreach (Product product in Model)
    {
      <div class="col">
        <vc:product-component product=@product></vc:product-component>
      </div>
    }
  </div>
</div>