@model List<Product>
<div class="container">
  <div class="row">
    @foreach (Product product in Model)
    {
      <div class="col-sm-4">
        <vc:product-component product=@product></vc:product-component>
      </div>
    }
  </div>
</div>