@model ArticleForm
@{
  Layout = "_AdminLayout";
  ViewData["Title"] = $"Article n.{Model.ID}";
  ViewData["SearchAction"] = "Articles";
}

<form method=POST enctype=multipart/form-data>
  <input asp-for="ID" hidden />
  <input asp-for="Image.ID" hidden />

  <div class="mb-3">
    <div class="row">
      <div class="col-sm-8">
        <label class="form-label" asp-for="Title"></label> <span asp-validation-for="Title" class="text-danger "></span>
        <input asp-for="Title" class="form-control" placeholder="Title" required />
      </div>
      <div class="col-sm-4">
        <label class="form-label" asp-for="UserID"></label> <span asp-validation-for="UserID" class="text-danger "></span>
        <select asp-for="UserID" class="form-select" required/>
          @foreach (User user in ViewBag.Users)
          {
            <option value=@user.ID selected=@(Model.UserID == user.ID)>@user.Username</option>
          }
        </select>
      </div>
    </div>

    <label class="form-label" asp-for="Content"></label> <span asp-validation-for="Content" class="text-danger "></span>
    <textarea asp-for="Content" class="form-control" rows="20" required></textarea>
  </div>

  <br>

  <div class="mb-3">
    <div class="row">
      <div class="col-lg-8 row">
        <div class="col-5">
          <label class="form-label" asp-for="Image.Title"></label>
          <span asp-validation-for="Image.Title" class="text-danger"></span>
          <input asp-for="Image.Title" type="text" class="form-control" />
        </div>

        <div class="col-7">
          <label for="product-image-input" class="form-label">Upload image</label>
          <input class="form-control" type="file" id="product-image-input" name="cover-image" />
        </div>
      </div>

      <div class="col-lg-4">
        @if (@Model.Image is not null) {
          <img src=@Url.Action("Get", "Image", new { Model.Image.ID }) alt=@Model.Image.Title class="img-thumbnail w-100" />
        }
      </div>
    </div>
  </div>

  <br>

  <button class="btn btn-primary" type="submit">Save</button>
  <a asp-action="ArticleDelete" asp-route-id=@Model.ID class="btn btn-danger">Delete</a>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}