@model Login
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewData["Title"] = "Login";
}

@section Head {
  <link rel="stylesheet" href="~/css/login.css">
}

<form class="form-signin" method="post" asp-action="Login" asp-route-returnUrl=@ViewBag.ReturnUrl>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  

  <label asp-for="Username" class="sr-only"></label>
  <input asp-for="Username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

  <label asp-for="Password" class="sr-only"></label>
  <input asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" type="password" required>
  
  <div class="checkbox mb-3">
    <label asp-for="RememberMe">
      <input asp-for="RememberMe"> Remember me
    </label>
  </div>
  
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  
  <div id="warnings">
    <p class="text-danger">@ViewBag.ErrorMessage</p>
    <p class="text-danger"><span asp-validation-for="Username"></span></p>
    <p class="text-danger"><span asp-validation-for="Password"></span></p>
    <p class="text-danger"><span asp-validation-for="RememberMe"></span></p>
  </div>

</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}