@{
  ViewData["Title"] = ViewData["Title"] + " - Admin";
  Layout = "_Layout";
}

<header>
  <nav>
    <a asp-controller="Admin" asp-action="Products">Products</a>
    <a asp-controller="Admin" asp-action="Logout">Logout</a>
  </nav>
</header>

<main>
  @RenderBody()
</main>