@{
  Layout = "_Layout";
}

@section Head {
  <link rel="stylesheet" href="~/css/page-layout.css" />
  @await RenderSectionAsync("Head", required: false)
}

<header id="page-header" class="sticky-top">
  <div class="py-2">
    <div class="container">
      <div id="follow-links"">
        <p>Follow Us:
          <a href="https://facebook.com/"><i class="fa-fw fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/"><i class="fa-fw fab fa-twitter"></i></a>
          <a href="https://instagram.com/"><i class="fa-fw fab fa-instagram"></i></a>
          <a href="https://youtube.com/"><i class="fa-fw fab fa-youtube"></i></a>
        </p>
      </div>

      <div class="row justify-content-center align-items-center mt-2">
        <h1 class="col-3">
          <a asp-controller="Page" asp-action="Index">DEBIE</a>
        </h1>
        <div class="col-6">
          <form action="" id="search" class="w-100">
            <div class="row m-0 p-0">
              <input type="text" name="query" placeholder="Search our store" class="col ps-3 py-2 m-0">
              <button type="submit" class="col-auto p-0 py-2 pe-3 m-0 text-center"><i class="fa-fw fas fa-search p0"></i></button>
            </div>
          </form>
        </div>
        <div class="col-3 text-end">
          <a asp-controller="Cart" asp-action="Index"><i class="fa-fw fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
  
  <vc:navbar-component></vc:navbar-component>
</header>

<div>
  @RenderBody()
</div>

<footer id="page-footer">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-4" id="footer-address">
        <h1 class="mb-4">DEBIE</h1>

        <address class="mb-0">
          <h3>Address:</h3>
          <p>123 Main Street, New York, NY</p>
          <h3>Need Help?</h3>
          <p>Call: <a href="tel:123456789">123 456 789</a></p>
          <h3>Email:</h3>
          <p class="mb-0"><a href="mailto:example@example.com">example@example.com</a></p>
        </address>
      </div>
      <div class="col-md-4" id="footer-about">
        <h2>About Us</h2>
        <p><a asp-controller="Page" asp-action="About">About us</a></p>
        <p><a asp-controller="Page" asp-action="Contact">Contact</a></p>
      </div>
      <div class="col-md-4" id="footer-articles">
        <h2>Latest Articles</h2>
        <vc:recent-articles-component count=2 small=false></vc:recent-articles-component>
      </div>
    </div>
    
    <hr class="my-2">

    <div class="row my-3">
      <p class="text-muted col-8 mb-0">Noright ○ No Rights Reserved.</p>
      <div class="text-end col-4">
        <a asp-controller="Admin" asp-action="Index"><i class="fa-fw fas fa-user-cog"></i></a>
        <text>&nbsp;</text>
        <a href="https://facebook.com/"><i class="fa-fw fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/"><i class="fa-fw fab fa-twitter"></i></a>
        <a href="https://instagram.com/"><i class="fa-fw fab fa-instagram"></i></a>
        <a href="https://youtube.com/"><i class="fa-fw fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>

@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}