@{
  Layout = "_Layout";
}

@section Head {
  <link rel="stylesheet" href="~/css/page-layout.css" />
  @await RenderSectionAsync("Head", required: false)
}

<header id="page-header" class="sticky-top">
  <div class="py-2">
    <div class="container">
      <div class="d-flex">
        <div id="follow-links">
          <p class="flex-grow-1">Follow Us:
            <a href="https://facebook.com/"><i class="fa-fw fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fa-fw fab fa-twitter"></i></a>
            <a href="https://instagram.com/"><i class="fa-fw fab fa-instagram"></i></a>
            <a href="https://youtube.com/"><i class="fa-fw fab fa-youtube"></i></a>
          </p>
        </div>
        <div class="flex-grow-1 text-right">
          <a asp-controller="Admin" asp-action="Index"><i class="fas fa-user-cog"></i></a>
        </div>
      </div>

      <div class="d-flex mt-2">
        <h1 class="flex-grow-1">
          <a asp-controller="Page" asp-action="Index">DEBIE</a>
        </h1>
        <div class="flex-grow-4 text-center">
          <input type="text" placeholder="Search"> <a href=""><i class="fa-fw fas fa-search"></i></a>
        </div>
        <div class="flex-grow-1 text-right">
          <a asp-controller="Cart" asp-action="Index"><i class="fa-fw fas fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="text-center my-2">
    <a asp-controller="Page" asp-action="Index">Home</a>
    <a asp-controller="Product" asp-action="List">Products</a>
    <a asp-controller="Blog" asp-action="List">Blog</a>
    <a asp-controller="Page" asp-action="About">About</a>
    <a asp-controller="Page" asp-action="Contact">Contact</a>
  </nav>
</header>

@RenderBody()

<footer id="page-footer">
  <div class="container">
    <div class="d-flex mt-4">
      <div class="flex-grow-1" id="footer-address">
        <h1 class="mb-4">DEBIE</h1>

        <address class="mb-0">
          <h3>Address:</h3>
          <p>123 Main Street, New York, NY</p>
          <h3>Need Help?</h3>
          <p>Call: <a href="tel:123456789">123 456 789</a></p>
          <h3>Email:</h3>
          <p class="mb-0"><a href="mailto:example@example.com">example@example.com</a></p>
        </address>
      </div>
      <div class="flex-grow-1" id="footer-about">
        <h2>About Us</h2>
        <p><a asp-controller="Page" asp-action="About">About us</a></p>
        <p><a asp-controller="Page" asp-action="Contact">Contact</a></p>
      </div>
      <div class="flex-grow-1" id="footer-articles">
        <h2>Latest Articles</h2>
        <div>
          <div>
            <img />
            <h3></h3>
            <p>by <strong></strong> • </p>
          </div>
          <div>
            <img />
            <h3></h3>
            <p>by <strong></strong> • </p>
          </div>
        </div>
      </div>
    </div>
    
    <hr class="my-2">

    <div class="d-flex mb-1">
      <p class="text-muted flex-grow-1 mb-0">Noright ○ <span class="text-body">Cernymichal</span> No Rights Reserved.</p>
      <div class="text-right flex-grow-1">
        <a href="https://facebook.com/"><i class="fa-fw fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/"><i class="fa-fw fab fa-twitter"></i></a>
        <a href="https://instagram.com/"><i class="fa-fw fab fa-instagram"></i></a>
        <a href="https://youtube.com/"><i class="fa-fw fab fa-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>