@model Product
<div class="border border-light product-component">
  <a href=@Url.Action("Detail", new { Model.ID })>
    <img src=@Url.Action("Get", "Image", new { Model.MainProductImage.Image.ID }) class="img-fluid" />
  </a>
  <div class="p-3">
    <a href=@Url.Action("Detail", new { Model.ID })>
      <h5 class="mb-1">@Model.Name</h5>
    </a>

    <div class="mb-2">
      @if (Model.ReviewsCount != 0)
      {
        @for (int i = 0; i < (int)Model.ReviewsAvg; i++)
        {
          <i class="fa-fw fas fa-star"></i>
        }
      }
      else
      {
        @for (int i = 0; i < 5; i++)
        {
          <i class="fa-fw far fa-star"></i>
        }
      }
    </div>

    <h5 class="product-component-price">$@Model.Price.ToString("0.00")</h5>
  </div>
</div>