@model Product
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src=@Url.Action("Get", "Image", new { Model.MainProductImage.Image.ID }) alt=@Model.MainProductImage.Image.Title>
  <div class="card-body">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Detail" asp-route-id=@Model.ID>@Model.Name</a>
  </div>
</div>