<div class="p-3 bg-light products-sidebar">
  <form action="">
    <h6>Search</h6>
    <div class="row m-0 p-0 py-1 mb-5 search-input">
      <input type="text" class="col" />
      <button type="submit" class="col-auto">Search</button>
    </div>

    <h6>Vendors</h6>
    <div>
      @foreach (Vendor v in ViewBag.Vendors)
      {
        <div class="d-block form-check">
          <input class="form-check-input" type="checkbox" id="vendors-check-@v.ID" /><label class="ms-2 form-check-label"
            for="vendors-check-@v.ID">@v.Name</label>
        </div>
      }
    </div>

    <hr class="my-4">

    <h6>Categories</h6>
    <div>
      @foreach (Vendor v in ViewBag.Vendors)
      {
        <div class="d-block form-check">
          <input class="form-check-input" type="checkbox" id="categories-check-@v.ID" /><label
            class="ms-2 form-check-label" for="categories-check-@v.ID">@v.Name</label>
        </div>
      }
    </div>
  </form>
</div>