@model ICollection<Article>

<div class="recent-articles">
  @foreach (var article in Model)
  {
    <div class="row my-3">
      <img class="col-4" src=@Url.Action("Get", "Image", new { article.Image.ID }) alt=@article.Image.Title>
      <div class="col-8">
        <h2 class="mb-2">
          <a asp-controller="Blog" asp-action="Detail" asp-route-id=@article.ID>@article.Title</a>
        </h2>
        <p class="m-0">by <strong>@article.User.Username</strong> • @article.Created.ToShortDateString()</p>
      </div>
    </div>
  }
</div>