@model Product
@{
  ViewData["Title"] = Model.Name;
}

<img src=@Url.Action("Get", "Image", new { Model.MainProductImage.Image.ID }) alt=@Model.MainProductImage.Image.Title />

<h1>@Model.Name</h1>
<p>@Model.Description</p>
<p>$@Model.Price</p>

@foreach (ProductImage productImage in Model.ProductImages)
{
  <img src=@Url.Action("Get", "Image", new { productImage.Image.ID }) alt=@productImage.Image.Title />
}