@using Debie.Models.DB
@model IEnumerable<Product>
@{
  ViewData["Title"] = "Products";
}

<h1>Product List</h1>

@foreach (Product product in Model)
{
  <a asp-controller="Product" asp-action="Detail" asp-route-id=@product.ID>@product.Name</a>
}