@model List<Product>
@{
  ViewData["Header"] = "Products";
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Product", "List", "Products")
  };
}

<h1>Product List</h1>

<vc:product-list-component products=@Model count=10></vc:product-list-component>