@model IEnumerable<Debie.Models.DB.Product>
@{
  ViewData["Title"] = "Products";
}

<table class="table table-bordered table-striped" style="width: 100%">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var product in Model)
    {
      <tr>
        <td>@product.Name</td>
        <td>@product.Price</td>
      </tr>
    }
  </tbody>
</table>
