@model List<Product>
@{
  ViewData["Header"] = "Products";
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Product", "List", "Products")
  };
}

<div class="row mt-4">
  <div class="col-sm-9">
    <vc:product-list-component products=@Model count=10></vc:product-list-component>
  </div>
  <div class="col-sm-3">
    <vc:products-sidebar-component></vc:products-sidebar-component>
  </div>
</div>
