@{
  ViewData["Title"] = ViewData["Title"] + " | Cart";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
  <link rel="stylesheet" href="/css/checkout-layout.css">
}

<div class="container">
  <div class="row">
    <div class="col-sm-7 py-5 pe-5 bg-white">
      <h1><a asp-controller="Page" asp-action="Index">DEBIE</a></h1>
      
      @RenderBody()
    </div>
    <div class="col-sm-5 p-5" id="sidebar-component">
      @if (!ViewData.ContainsKey("Sidebar") || (bool) ViewData["Sidebar"]) {
        <vc:checkout-sidebar-component></vc:checkout-sidebar-component>
      }
    </div>
  </div>
</div>


@section Scripts {
  @await RenderSectionAsync("Scripts", required: false)
}