@model OrderContactForm
@{
  ViewData["Title"] = "Customer Information";
  Layout = "_CheckoutLayout";
}

<form asp-action="ContactUpdate" method="POST">
  <label class="form-label" asp-for="Email"></label> <span asp-validation-for="Email" class="text-danger"></span>
  <input asp-for="Email" class="form-control" placeholder="Email" type="email" />

  <label class="form-label" asp-for="Updates"></label> <span asp-validation-for="Updates" class="text-danger"></span>
  <input asp-for="Updates" placeholder="Updates" /><br>

  <label class="form-label" asp-for="FirstName"></label> <span asp-validation-for="FirstName" class="text-danger"></span>
  <input asp-for="FirstName" class="form-control" placeholder="FirstName" />

  <label class="form-label" asp-for="LastName"></label> <span asp-validation-for="LastName" class="text-danger"></span>
  <input asp-for="LastName" class="form-control" placeholder="LastName" />

  <label class="form-label" asp-for="ShippingStreet"></label> <span asp-validation-for="ShippingStreet" class="text-danger"></span>
  <input asp-for="ShippingStreet" class="form-control" placeholder="ShippingStreet" />

  <label class="form-label" asp-for="ShippingApartment"></label> <span asp-validation-for="ShippingApartment" class="text-danger"></span>
  <input asp-for="ShippingApartment" class="form-control" placeholder="ShippingApartment" />

  <label class="form-label" asp-for="ShippingCity"></label> <span asp-validation-for="ShippingCity" class="text-danger"></span>
  <input asp-for="ShippingCity" class="form-control" placeholder="ShippingCity" />

  <label class="form-label" asp-for="ShippingCountry"></label> <span asp-validation-for="ShippingCountry" class="text-danger"></span>
  <input asp-for="ShippingCountry" class="form-control" placeholder="ShippingCountry" />

  <label class="form-label" asp-for="ShippingZip"></label> <span asp-validation-for="ShippingZip" class="text-danger"></span>
  <input asp-for="ShippingZip" class="form-control" placeholder="ShippingZip" />

  <button type="submit">Continue to shipping</button>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}