@model OrderPaymentForm
@{
  ViewData["Title"] = "Payment";
  Layout = "_CheckoutLayout";
  ViewData["Step"] = 4;
}

<div id="crumbs">
  <a asp-action="Index">Cart</a> <i class="fa-fw fas fa-chevron-right mx-1"></i>
  <a asp-action="Contact">Information</a> <i class="fa-fw fas fa-chevron-right mx-1"></i>
  <a asp-action="Shipping">Shipping</a> <i class="fa-fw fas fa-chevron-right mx-1"></i>
  <a>Payment</a>
</div>

<form asp-action="PaymentUpdate" method="POST">
  <div>
    <h4 class="mb-1">Shipping method</h4>
    <p>All transactions are secure and encrypted</p>

    <select asp-for="PaymentMethod" class="form-select"/>
      @foreach (var method in OrderForm.Options.PaymentMethods)
      {
          <option selected=@(Model.PaymentMethod == method)>@method</option>
      }
    </select>
  </div>

  <div>
    <h4 class="mb-1">Billing address</h4>
    <p>If different from shipping address</p>

    <input asp-for="BillingStreet" class="form-control" placeholder="Billing street (optional)" />

    <input asp-for="BillingApartment" class="form-control" placeholder="Billing apartment (optional)" />

    <input asp-for="BillingCity" class="form-control" placeholder="Billing city (optional)" />

    <div class="d-flex">
      <input asp-for="BillingCountry" class="form-control" placeholder="Billing country (optional)" />
      <input asp-for="BillingZip" class="form-control" placeholder="Billing zip (optional)" />
    </div>
  </div>

  <button type="submit" class="my-button-big">Complete order</button>

  <span asp-validation-for="PaymentMethod" class="text-danger"></span>
  <span asp-validation-for="BillingStreet" class="text-danger"></span>
  <span asp-validation-for="BillingApartment" class="text-danger"></span>
  <span asp-validation-for="BillingCity" class="text-danger"></span>
  <span asp-validation-for="BillingCountry" class="text-danger"></span>
  <span asp-validation-for="BillingZip" class="text-danger"></span>
</form>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}