#contact-us h2 {
  font-size: 1.2em;
}

#contact-us h2 > i {
  margin-right: 0.5em;
}

#contact-us a {
  color: #000000;
  text-decoration: none;
  transition: 300ms;
}

#contact-us a:hover {
  color: #000000;
  text-decoration: underline;
}

#contact-us hr {
  margin: 1.2em 0;
}

#contact-map {
  height: 300px;
  width: 100%;
}