#page-header {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

#page-header > div {
  background-color: #aca2ff;
  color: #ffffff;
}

#page-header > div .fa-fw,
#page-header > div a {
  color: #ffffff !important;
  text-decoration: none;
  transition: 300ms;
}

#page-header > div .fa-fw:hover,
#page-header > div a:hover {
  color: #342b80 !important;
}

#follow-links a {
  margin: 0 5px;
}

#page-header nav > * {
  margin: 0 10px;
}

#page-header nav a {
  color: #000000;
  text-decoration: none;
  transition: 300ms;
}

#page-header nav a:hover {
  color: #8a83cc;
}

#search {
  background-color: #d1ccff;
  border-radius: 5px;
}

#search input {
  color: #342b80;
  outline: none;
}

#serch in #search input::placeholder {
  color: #ffffff;
}

#search > div * {
  background-color: transparent;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#page-footer {
  background-color: #f2f2f2;
  color: #000000;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: auto;
}

#page-footer a {
  color: #000000 !important;
  text-decoration: none;
}

#page-footer .fa-fw {
  color: #342b80 !important;
}

#page-footer .fa-fw:hover,
#page-footer a:hover {
  color: #8a83cc !important;
  transition: 300ms;
}

#footer-address h3 {
  font-weight: bold;
  font-size: 1em;
  line-height: 1;
}

#footer-about h2,
#footer-articles h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 30px;
}

#footer-about p {
  line-height: 1;
}
