#image-header {
  background-image: url("/media/cover.png");
  background-position: center;
  background-size: cover;
  color: #000000;
}

#image-header i.fa-fw {
  color: #000000 !important;
}

#image-header a {
  text-decoration: none;
  transition: 300ms;
  color: #8a83cc;
}

#image-header a:hover {
  color: #aca2ff;
  text-decoration: underline;
}
