.accent {
  color: #aca2ff;
}

.nav-tabs {
  justify-content: center;
}

.nav-tabs .nav-link {
  border: none;
  color: grey;
  font-size: large;
  font-weight: bold;
}

.nav-tabs .nav-link:hover {
  color: black;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
  border-bottom: solid;
  border-color: #aca2ff;
}

.productInfo {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.productImagesIcons {
  display: inline-flex;
}

.productImagesIcons img {
  width: 20%;
  margin-right: 3px;
}

.carousel-control-next, .carousel-control-prev {
  height: 100%;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
  background-color: black;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  min-height: 400px;
}

.productImagesIcons .active {
  border-bottom: solid;
}

#buy-now-button {
  width: 80%
}

#product-image-corousel {
  height: 600px;
}