.productInfo {
  border: solid;
  border-width: 1px;
  border-color: lightgrey;
}

.productImagesIcons {
  display: inline-flex;
}

.productImagesIcons img {
  width: 20%;
  margin-right: 3px;
}

.carousel-control-next,
.carousel-control-prev {
  height: 100%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: black;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  min-height: 400px;
}

.productImagesIcons .active {
  border-bottom: solid;
}

#buy-now-button {
  width: 80%;
}

#product-image-corousel {
  height: 600px;
}
