@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline;
}

.my-button {
  background-color: #aca2ff;
  border: none;
  color: #ffffff;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.my-button-big {
  background-color: #aca2ff;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.my-button:hover,
.my-button-big:hover {
  transition: 300ms;
  background-color: #342b80;
  text-decoration: none;
  color: #ffffff;
}

.my-button-dark {
  background-color: #000000;
  border: none;
  color: #ffffff;
  padding: 8px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.my-button-dark:hover {
  transition: 300ms;
  background-color: #8a83cc;
  text-decoration: none;
  color: #ffffff;
}

.recent-articles h2 {
  font-size: 1.2em;
}

.recent-articles-small h2 {
  font-size: 1em;
}

.recent-articles-small a {
  color: #000000;
}

.recent-articles-small p {
  font-size: 0.8em;
  color: #555555;
}

.recent-articles img,
.recent-articles-small p {
  object-fit: contain;
}

.blog-sidebar form,
.products-sidebar .search-input {
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 5px;
}

.blog-sidebar form input,
.products-sidebar .search-input input {
  background-color: transparent;
  border: none;
  outline: none;
}

.blog-sidebar form button,
.products-sidebar .search-input button {
  background-color: transparent;
  border: none;
  border-left: 1px solid #cccccc;
  outline: none;
}

.blog-sidebar h6 {
  font-weight: bold;
}

.blog-sidebar-tags a {
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.product-component a h5 {
  color: black;
}

.product-component-price {
  color: #aca2ff;
}
