@model Article
@{
  ViewData["Header"] = Model.Title;
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Blog", "List", "Blog"),
    new Crumb("Blog", "Detail", Model.Title, new Dictionary<string, string> { {"ID", Model.ID.ToString() } })
  };
}

<div class="text-center">
  <h1>@Model.Title</h1>
  <i>@Model.User.Username</i>
  <img src=@Url.Action("Get", "Image", new { Model.Image.ID }) alt=@Model.Image.Title />
  <div class="text-left">
    <p>@Model.Content</p>
  </div>
</div>
