@model Article
@{
  ViewData["Header"] = Model.Title;
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Blog", "List", "Blog"),
    new Crumb("Blog", "Detail", Model.Title, new Dictionary<string, string> { {"ID", Model.ID.ToString() } })
  };
}

<div class="row my-5">
  <div class="col-md-8 border border-light p-4">
    <div class="text-center">
      <h1>@Model.Title</h1>
      <aside class="text-muted mb-4 mt-3"><i class="far fa-user"></i> Posted by <strong class="text-dark">@Model.User.Username</strong> | <i class="far fa-calendar-alt"></i> Posted on @Model.Created.ToShortDateString()</aside>
      <img src=@Url.Action("Get", "Image", new { Model.Image.ID }) alt=@Model.Image.Title class="img-fluid" />
      <p class="text-start mt-4 lh-lg">@Model.Content</p>
    </div>
  </div>
  <div class="col-md-4">
    <vc:blog-sidebar-component></vc:blog-sidebar-component>
  </div>
</div>