@model Article
@{
  ViewData["Title"] = Model.Title;
}

<div class="text-center">
  <h1>@Model.Title</h1>
  <i>@Model.User.Username</i>
  <img src=@Url.Action("Get", "Image", new { Model.Image.ID }) alt=@Model.Image.Title />
  <div class="text-left">
    <p>@Model.Content</p>
  </div>
</div>
