@model IEnumerable<Article>
@{
  ViewData["Header"] = "Blog";
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Blog", "List", "Blog")
  };
}

<div class="row my-5">
  <div class="col-sm-8">
    @foreach (Article article in Model)
    {
      <div class="blog-list-item mb-5">
        <img src=@Url.Action("Get", "Image", new { article.Image.ID }) alt=@article.Image.Title class="w-100" />
        <h2 class="my-3 font-weight-bold" style="font-size: 1.3em;">@article.Title</h2>
        <p><i class="fa-fw fas fa-user text-muted"></i> @article.User.Username <span class="text-muted">| <i
              class="fa-fw far fa-calendar-alt"></i> @article.Created.ToShortDateString()</span></p>
        <hr>
        <p>@article.Content.Substring(0, Math.Min(article.Content.Length, 200))...</p>
        <a class="my-button-dark mt-2" asp-controller="Blog" asp-action="Detail" asp-route-id=@article.ID>READ MORE</a>
      </div>
    }
  </div>
  <div class="col-sm-4">
    <vc:blog-sidebar-component></vc:blog-sidebar-component>
  </div>
</div>
