@model IEnumerable<Article>
@{
  ViewData["Title"] = "Blog";
}

<h1>Article List</h1>
<hr>

@foreach (Article article in Model)
{
  <div class="text-center">
    <img src=@Url.Action("Get", "Image", new { article.Image.ID }) alt=@article.Image.Title height="200" />
    <br>
    <a asp-controller="Blog" asp-action="Detail" asp-route-id=@article.ID>@article.Title</a>
  </div>
}