@{
  ViewData["Header"] = "About";
  ViewData["Title"] = ViewData["Header"];
  ViewData["Crumbs"] = new Crumb[] {
    new Crumb("Page", "About", "About")
  };
}

<div class="row my-5">
  <img src="/media/about-portrait.png" alt="portrait" class="col-lg-6" style="object-fit: contain;">
  <div class="col-lg-6">
    <h1 class="mb-4">WELCOME TO <span style="color: #aca2ff;">DEBIE</span></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit neque necessitatibus reprehenderit. Sit, tempora
      eos. Voluptas eum beatae fugit laborum, doloremque nam cum, ratione ipsa error facilis aspernatur, inventore
      quaerat.</p>
    <h3 class="mt-5 mb-3">WON BEST ONLINE SHOP IN 2020</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quasi aut architecto, temporibus illo dolorem
      quibusdam vitae eos molestiae reprehenderit, minima non facere laborum maiores quisquam natus fuga quo error.</p>
  </div>
</div>

<div class="row my-5">
  <div class="col-md-4">
    <h2>OUR VISION</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit nihil ullam ipsum ex dolorum
      necessitatibus, minima omnis eaque illum iste pariatur voluptates iusto est aperiam sed. Quisquam, debitis quas.
    </p>
  </div>
  <div class="col-md-4">
    <h2>OUR MISSION</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit nihil ullam ipsum ex dolorum
      necessitatibus, minima omnis eaque illum iste pariatur voluptates iusto est aperiam sed. Quisquam, debitis quas.
    </p>
  </div>
  <div class="col-md-4">
    <h2>OUR GOAL</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit nihil ullam ipsum ex dolorum
      necessitatibus, minima omnis eaque illum iste pariatur voluptates iusto est aperiam sed. Quisquam, debitis quas.
    </p>
  </div>
</div>

<h4>GUARANTEED CHECKOUT:</h4>
<div>
  <i class="fab fa-cc-visa fa-border p-2"></i>
  <i class="fab fa-cc-mastercard fa-border p-2"></i>
  <i class="fab fa-paypal fa-border p-2"></i>
  <i class="fab fa-apple-pay fa-border p-2"></i>
</div>